.header {
  display: flex;
  background-color: $clr-primary-lightest;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;
  .logo {
    height: 2.2rem;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .main-nav {
    display: flex;
    gap: 4.8rem;
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
    list-style: none;
    align-items: center;
    @media only screen and (max-width: 950px) {
      display: none;
    }
    &-link{
      transition: all 0.3s;
      cursor: pointer;
      &:hover{
        color: $clr-primary-dark;
      }
    }
    &-cta {
      transition: all 0.3s;
      cursor: pointer;
      color: white;
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      background-color: $clr-primary;
      &:hover {
        background-color: $clr-primary-dark;
      }
    }
  }
}
