$clr-primary: #e67e22;
$clr-primary-dark: #cf711f;
$clr-primary-lightest: #fdf2e9;
$clr-primary-lighter: #fae5d3;

// - Greys

// #888
// #767676 (lightest grey allowed on #fff)
// #6f6f6f (lightest grey allowed on #fdf2e9)
// #555
// #333
