/* all the global defination about entire project like reset thing,
font adjustment thing are written inside base file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
}
