/* all the global defination about entire project like reset thing,
font adjustment thing are written inside base file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  @media only screen and (min-width: 2200px) {
    font-size: 100%;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 950px) {
    font-size: 50%;
  }
}
body {
  font-family: "Rubik", sans-serif;
  color: #555;
  font-weight: 400;
}
